:root {
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
    line-height: 1.5;

  /* layout */
  --nav-height: clamp(10vh, 10rem + 2vh, 14vh);

    /*grays*/
    --gray-100: #ECEAE8;
    --gray-200: #d5d2cc;
    --gray-300: #bebbb3;
    --gray-400: #a9a8a4;
    --gray-500: #8d8b86;
    --gray-600: #716f6b;
    --gray-700: #40403b;
    --gray-800: #0d0d0d;

    /*primary*/
    --prim-100: #fffcf2;
    --prim-200: #f2dc9d;
    --prim-300: #e4b635;
    --prim-400: #9e770a;
    --prim-500: #473503;

    /*secondary*/
    --sec-100: #eee8fd;
    --sec-200: #a885fa;
    --sec-300: #6935e4;
    --sec-400: #360d98;
    --sec-500: #12013a;

    /*tertiary*/
    --ter-300: #bd445e;
    --ter-400: #853748;
    --ter-500: #571e2a;
}

h1 {
  font-size: clamp(3.2rem, 3rem + 1.5vw, 4.8rem);
  margin-top: 2.4rem;
  margin-bottom: 4.8rem;
}

h2 {
  font-size: clamp(2.4rem, 2.2rem + 1vw, 3.6rem);
}

h3 {
  font-size: clamp(1.8rem, 1.6rem + 1vw, 2.4rem);
}

h4 {
  font-size: 2.2rem;
}

h1, h2, h3, h4 {
  font-family: "Ubuntu";
  color: var(--gray-700);
}

p {
  font-size: clamp(1.4rem, 1.4rem + 0.5vw, 1.8rem);
  line-height: clamp(1.4, 1.35 + 0.2vw, 1.6);
  color: var(--gray-800);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
  margin: 0;
}

body.menu-open .mobile-menu {
  display: flex;
}

body.menu-open .hamburger-button .icon-close {
  display: flex;
}

body .hamburger-button .icon-hamburger, .icon-close {
  display: none;
}

.hidden {
  display: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 0rem 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.16);
  }

.link-bar {
  width: 100%;
}

.link-bar ul {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    width: 100%;
    padding: 0;
    list-style: none;
}

.link-bar ul > li img {
  width: clamp(16rem, calc(16rem + 2.5vw), 18rem);
  height: auto;
}

.link-bar a {
  text-decoration: none;
  display: inline-block;
  color: var(--gray-700);
  font-size: 1.6rem;
  border-bottom: .2rem solid transparent;
  transition: background-color 0.3s ease,
              border-color 0.4s ease,
              padding 0.1s ease;
}

.link-bar a:hover {
  border-bottom-color: var(--ter-400);
  padding: 0 .1rem;
  color: var(--ter-400);
  cursor: pointer;
}

ul > li:first-child {
  margin-right: auto;
}

ul > li:nth-child(10) {
  margin-left: auto;
}

.link-tag {
  display: flex;
  font-size: 1.6rem;
  color: var(--gray-700);
}

.link-tag:hover {
  color: var(--ter-400);
  padding: 0 .2rem;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.2rem 0rem;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: clamp(10vh, 10rem + 2vw, 14vh);
  right: 0;
  width: 100%;
  height:auto;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.801);
  backdrop-filter: blur(10px);
}

.mobile-menu li, .mobile-menu a {
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2;
  color: var(--gray-700);
}

.mobile-menu .link-tag {
  display: flex;
  align-items: center;
}

.mobile-menu input {
  font-size: 1.8rem;
  padding: 1.2rem;
  border-color: var(--gray-400);
  border-radius: .6rem;
  margin: 1.6rem 0;
  width: 100%;
}

.mobile-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  color: var(--gray-700);
  margin: 2.0rem 0rem;
  height: 6.4rem;
}

.hideOnMobile input {
  font-size: 1.6rem;
  padding: .8rem;
  border-color: var(--gray-400);
  border-radius: .6rem;
  width: 14rem;
}

.hideOnMobile button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-700);
  background-color: var(--prim-300);
  min-width: 8rem;         /* Removes the 32rem floor */
  /*width: clamp(14rem, 14 + 1.5vw, 16rem);*/     
  /*padding: .8rem 3.2rem;*/   /* Override the general 2rem padding if needed */
  padding: .8rem 2rem;
  border-radius: .6rem;
  margin: 0; 
}

.hideOnMobile button:hover {
  background-color: var(--ter-500);
  color: var(--gray-200);
}

.hero {
  background-image: url(./images/new_light\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - var(--nav-height));
  padding: clamp(4rem, 3.5rem + 2vw, 8rem) clamp(1.6rem, 1.4rem + 1.5vw, 6rem);
}

.courses {
  display: flex;
  gap: .8rem;
  align-items: flex-start;
  font-size: 1.6rem;
  width: fit-content;
  border-bottom: .1rem solid transparent;
  transition: /*background-color 0.3s ease,*/
              border-color 0.4s ease,
              padding 0.1s ease;
}

.courses:hover {
  border-bottom-color: var(--gray-200);
  padding: 0 .2rem;
  cursor: pointer;
}

.hero * {
  color: var(--gray-100);
}

.main {
    height: auto;
}

.section-head {
  display: flex;
  justify-content: center;
  padding: clamp(5rem, 4.8rem + 2vw, 7.2rem);
}

.section-head p {
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--gray-700);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(4.8rem, 4.8rem + 2vw, 6rem);
    padding: 0rem clamp(2rem, 2rem + 3.5vw, 6rem);
    padding-bottom: clamp(18rem, 18rem + 2vw, 24rem);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: clamp(36rem, 36rem + 3.5vw, 60rem);
    padding: 0rem 2.4rem 3.6rem 2.4rem;
    border-radius: 1.2rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.16);

}

.card h2 {
  text-align: center;
}

button {
  padding: 2rem 0;
  border-radius: .8rem;
  border: none;
  color: var(--gray-700);
  font-weight: 600;
  letter-spacing: .1rem;
  background-color: var(--prim-300);
  min-width: clamp(24rem, 24rem + 2vw, 32rem);
  margin: 3.2rem 0;
}

button:hover {
  cursor:pointer;
  background-color:var(--prim-400);
  color: var(--gray-100);
}

.links-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 10rem 4.8rem;
  background-color: var(--gray-100);
}

.footer-list {
  max-width: 16rem;
}

.footer-list-left h5 {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 1.2rem;
}

.footer-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5.6rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-list-container > * {
  /* keep each child at its intrinsic width */
  flex: 0 0 auto;
}

.footer-list-left {
  margin-top: 1.8rem;
}

.footer-list-left img {
  width: 20rem;
}

.footer-list p {
  font-size: 1.6rem;
}

.footer-list .links-colored {
  color: var(--prim-400);
  font-weight: 700;
}

@media (max-width: 800px) {
  body .hamburger-button .icon-hamburger {
    display: flex;
  }

  body.menu-open .hamburger-button .icon-hamburger {
    display: none;
  }

  body.menu-open .hamburger-button .icon-close {
    display: flex;
  }

  .hideOnMobile {
    display: none;
  }

  .mobile-menu .hidden {
    display: none;
  }
}